Для решения задачи воспользуемся Байесовской формулой условной вероятности.  
```
P(A|B) = P(AB) / P(B) 
```
Тогда событие A - попадание на определенную ячейку игрового поля;
а событие B - выпадение определенного суммарного количества очков при броске `n` кубиков; соответственно AB - одновременное наступление событий А и Б.

По условию задачи необходимо найти P(A|B). 

Вероятность попадания на любую ячейку равновероятно, P(A)=$\frac{1}{12}$. Вероятность выпадения определенного суммарного количества очков при броске `n` кубиков равно $\frac{1}{6^n}$, так как вероятность выпадения каждого очка на 1 из любых кубиков равно $\frac{1}{6}$. 

Расчитать вероятности сообытия АВ можно перебрав различные комбинации выпадений очков в кубике и определив на какую ячейку встанет игрок при такой комбинации. Допустим кубиков три, тогда это будет выглядеть следующим образом: 

(1, 1, 1) -> Cell3  
(1, 1, 2) -> Cell4  
...  
(6, 6, 5) -> Cell5  
(6, 6, 6) -> Cell6

Такие комбинации создадим с помощью `itertools.product(range(1, 7), repeat=n)`.

С помощью функции `last_cell` можно расчитать для каждой такой комбинации номер ячейки в которую игрок попадет. Итеративно пройдемся по каждой комбинации и посчитаем количество пападаний в каждую из 12 ячеек.

Последним действием останется разделить количество попаданий на количество итераций (== количество различных комбинаций очков, выпавших на кубиках) согласно Байесовской формуле. 

Решение лежит в `test1.py`.
Ответ в `answer.csv`.

In [10]:
answer

           3 Cubes   6 Cubes  12 Cubes
Cell 01   0.097222  0.077418  0.082599
Cell 02   0.069444  0.073045  0.082910
Cell 03   0.050926  0.071416  0.083333
Cell 04   0.041667  0.073045  0.083757
Cell 05   0.041667  0.077418  0.084067
Cell 06   0.050926  0.083333  0.084181
Cell 07   0.069444  0.089249  0.084067
Cell 08   0.097222  0.093621  0.083757
Cell 09   0.115741  0.095250  0.083333
Cell 010  0.125000  0.093621  0.082910
Cell 011  0.125000  0.089249  0.082599
Cell 012  0.115741  0.083333  0.082486